<div class="container">
  <h1 class="text-center">POSTS</h1>
  <div class="list-group">
    
    <app-PostListItem  *ngFor="let item of  BlogPostArray;let i=index" [titre]="item.title" [heure]="item.created_at" [contenu]="item.content" [value]="item.loveIts" [indexNumber]="i"></app-PostListItem>
    

  </div>

</div>