<form  [formGroup]="addForm" (ngSubmit)="add()">
    <div class="form-group">
      <label for="title"></label>
      <input type="text"   id="title" formControlName="title"  class="form-control" placeholder="TITRE" [ngClass]="{'is-invalid':addForm.get('title').errors && addForm.get('title').touched }">
      <div class="invalid-feedback" 
            *ngIf="addForm.get('title').hasError('required')
                  && addForm.get('title').touched">
                Titre obligatoire!
      </div>
      <div class="invalid-feedback" 
            *ngIf="addForm.get('title').hasError('maxlength') && addForm.get('title').touched">
            Titre trop long!
      </div> 
      <div class="invalid-feedback" 
            *ngIf="addForm.get('title').hasError('minlength') && addForm.get('title').touched">
            Titre trop court!
      </div> 
      
    </div>
    <div class="form-group">
        <label for="message"></label>
        <textarea  id="message" formControlName="message" class="form-control" rows="10" [ngClass]="{'is-invalid':addForm.get('message').errors && addForm.get('message').touched }">Write your text</textarea>
        <div class="invalid-feedback" 
                   *ngIf="addForm.get('message').hasError('required')
                          && addForm.get('message').touched">
                        Message obligatoire!
              </div>
              <div class="invalid-feedback" 
                   *ngIf="addForm.get('message').hasError('minlength') && addForm.get('message').touched">
                   Message trop court pour être compris!
              </div> 
    </div>
     <button type="submit" [disabled]="!addForm.valid"   class="btn btn-success">ADD POST</button>
</form>
