<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse container" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active" routerLinkActive="router-link-active">
                <a class="nav-link" routerLink='post'  >POST<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="router-link-active">
                <a class="nav-link" routerLink='nouveau-post' >NOUVEAU POST</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
