<li class="list-group-item" [ngClass]="{' bg-success':value>0,' bg-danger':value<0}">
  <div class="d-flex justify-content-around">
    <h3>{{titre}}</h3>
    <h5>{{heure | date:'dd/MM/yyyy, hh:mm a' }}</h5>
  </div>
  <p>{{contenu}}</p>
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <button class="btn btn-success" (click)="love()">Love it</button>
      <button class="btn btn-danger ml-2" (click)="dontLove()" >Don't love</button>
    </div>
    <div>
        <button class="btn btn-danger ml-2" (click)="removeItem(indexNumber)" >Delete Post</button>
    </div>
  </div>
</li>

<!-- <div [ngStyle]="{'background-color':person.country === 'UK' ? 'green' : 'red' }"></<div> -->
